*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 0.0rem;
}

.container .working-time{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 2px #a458eb;
    padding: 1.0rem;
}

.container .working-time div{
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container .working-time div label{
    margin: auto;
    padding: 1.0rem;
}

.container .working-time button{
    margin: 1.0rem auto;
    width: 100px;
    height: 50px;
    border-radius: 0.5rem;
}

.container .working-time h4{
    margin: auto;
    padding: auto;
}

.container .working-time div input{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

.container .back-button{
    display: none;
    margin: 1.0rem auto;
    padding: 1.0rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 2px #a458eb;
}

.container .choose-time{
    display: none;
    margin: 1.0rem auto;
    padding: 1.0rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 2px #a458eb;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.container .choose-time div{
    width: max-content;
    margin: 1.0rem;
    padding: 1.0rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 0 0 10px 2px #a458eb;
}

.container .choose-time div:hover{
    background-color: rgb(29, 163, 29);
    color: white;
    cursor: pointer;
}