<div class="token-generator-container">
    <p class="message">Sample Message</p>
    <button class="get-token-btn">Get Token</button>
    <div class="url" style="display: flex;flex-direction:column;">
        <h3>Url: </h3>
        <input type="text" class="getTokenUrl" name="getTokenUrl" id="getTokenUrl">
    </div>
    <div class="token-only" style="display: flex;flex-direction:column;">
        <h3>Token Only: </h3>
        <input type="text" class="getTokenOnly" name="getTokenOnly" id="getTokenOnly">
    </div>
</div>