<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>{%RenderError%}</h4>
    <h4 class="redirect-notify"></h4>
    <script>
        let i = 5;
        setInterval(() => {
            if(i == 0)  window.location.href='/';
            document.querySelector(".redirect-notify").innerHTML = `Redirecting to Home in ${i--} seconds...`
        }, 1000);
    </script>
</body>
</html>