<div class="get-started">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Get Your Appointment Now!!</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatum praesentium repellat quibusdam aliquid animi at, ratione similique nesciunt asperiores!</p>
            <a class="btn btn-primary" onclick="sessionStorage.setItem('rt', 'u');window.location.href='/register.html'">Get Started</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">For Consultants</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptatum praesentium repellat quibusdam aliquid animi at, ratione similique nesciunt asperiores!</p>
            <a class="btn btn-primary" onclick="sessionStorage.setItem('rt', 'c');window.location.href='/register.html'">Get Started</a>
        </div>
    </div>
</div>