<div class="bookAppointment" style="display: flex;flex-direction:column;">
    <p class="message">Sample Message</p>
    <div style="display:flex; flex-direction: row;">
        <label for="Token" style="margin: 1rem">Paste Your Token Here:</label>
        <input type="text" style="margin: 1rem" class="pastedToken" name="pastedToken" id="pastedToken">
    </div>
    <button type="button" style="margin: 1rem auto;width:max-content;padding: 1rem;border-radius: 1rem;" class="get-appointment-btn">Get Appointment</button>
</div>